
  {% extends 'webapp/base.html' %}

  {% block content %}
  
      <h5> Welcome, {{user}}! 👋 </h5>
  
      <hr>
  
      <a class="btn btn-outline-primary btn-sm" href="{% url 'create-record' %}">
  
          Create a new record &nbsp; <i class="fa fa-plus-circle" aria-hidden="true"></i>
  
      </a>
  
      <hr> 
  
      <table class="table table-hover table-bordered">
  
          <thead class="table-light">
  
              <tr>
  
                <th scope="col">Index</th>
                <th scope="col">Book Name </th>
                <th scope="col">Author</th>
                <th scope="col">Price</th>
                <th scope="col">Quantity</th>
                <th scope="col">View</th>
  
              </tr>
  
          </thead>
  
          <tbody>
  
          {% if records %}
  
              {% for record in records %}
              
  
              <tr>
  
                <th scope="row">{{record.id}} </th>
                <td>{{record.Book_name}}</td>
                <td>{{record.author}} </td>
                <td>{{record.price}}</td>
                <td>{{record.quantity}}</td>
  
                  <td> <a class="btn btn-success btn-sm" href="{% url 'record' record.id %}"> <i class="fa fa-eye" aria-hidden="true"></i> </a> </td>
  
              </tr>
  
              {% endfor %}
          
          {% endif %}
  
  
          </tbody>
  
  
      </table>
  
  
  {% endblock %}